input {
  width: 50px;
}

#appDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #F4FF96; */
}

#stretchDiv {
  
}

#headerDiv {
  display: flex;
  flex-direction: row;
  background-color: #22D12B;
  padding-top:10px;
  padding-bottom: 10px;
  align-items: center;
}

#headerDiv div {
  margin-right: 10px;
  margin-left: 10px;
}

#settingsBtnDiv {
  flex-grow: 1;
  text-align: right;
}

.importantSpan {
  font-weight: 700;
  font-size: 20px;
}
